@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    font-family: 'SUSE', sans-serif;
}
:root{
    --header_color : #203642;
    --header_text_color : #fff;
    --register_color:#1475e1;
    --menu_color:#fff;
    --menu_text_color:#0f212e;
    --body-color:#0f212e;
    --footer_text_color : #567086;
--hr_color :#213743;
}